html{
  scroll-behavior: smooth;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Custom Swiper Pagination Colors */
.custom-swiper .swiper-pagination-bullet {
  background-color: #e5e7eb; 
  opacity: 1; 
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #E8505B; 
}

.slide-text {
  position: relative;
  transform: translateY(100%);  /* Start off-screen to the right */
  opacity: 0;
  animation: slideIn 1s ease-out forwards; /* Trigger the animation */
}

@keyframes slideIn {
  to {
    transform: translateY(0);   /* End at original position */
    opacity: 1;
  }
}


